---
# Solved Lab | Data Cleaning and Formatting
---

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

---
# Challenge 1: Data Cleaning and Formatting

---
## Exercise 1: Cleaning Column Names

- To ensure consistency and ease of use, standardize the column names of the dataframe. 
- Start by taking a first look at the dataframe and identifying any column names that need to be modified. 
- Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

#### taking a first look at the dataframe

In [23]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df.head(20)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000

#### Standardize columns names

In [24]:
# Customer to customer_id
# ST to state
# GENDER to gender
# Education to education_level
# Customer Lifetime Value to lifetime_value
# Monthly Premium Auto to monthly_premium
# Number of Open Complaints to open_complaints
# Policy Type to policy_type
# Vehicle Class to vehicle_class
# Total Claim Amount to total_claim_amount

df.rename(columns={
    "Customer": "customer_id",
    "ST": "state",
    "GENDER": "gender",
    "Education": "education_level",
    "Customer Lifetime Value": "lifetime_value",
    "Income": "annual_income",
    "Monthly Premium Auto": "monthly_premium",
    "Number of Open Complaints": "open_complaints",
    "Policy Type": "policy_type",
    "Vehicle Class": "vehicle_class",
    "Total Claim Amount": "total_claim_amount"
}, inplace=True)
df.head(10)

,customer_id,state,gender,education_level,lifetime_value,annual_income,monthly_premium,open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

---
## Exercise 2: Cleaning invalid Values

- The **dataset contains columns with** `inconsistent` and `incorrect values` that could **affect the accuracy of our analysis**. 
- Therefore, we need to **clean these columns to ensure that they only contain valid data**.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", 
    - which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, 
    - for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         1071 non-null   object
 1   state               1071 non-null   object
 2   gender              954 non-null    object
 3   education_level     1071 non-null   object
 4   lifetime_value      1068 non-null   object
 5   annual_income       1071 non-null   float64
 6   monthly_premium     1071 non-null   float64
 7   open_complaints     1071 non-null   object
 8   policy_type         1071 non-null   object
 9   vehicle_class       1071 non-null   object
 10  total_claim_amount  1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

---
### **gender**

In [26]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [27]:
# mapping gender values
gender_mapping = {
    "female": "F",
    "Femal": "F",    
    "Male": "M"
}
# replace values in gender
df['gender'] = df['gender'].replace(gender_mapping)

# Check unique values after mapping
print(df['gender'].unique())

[nan 'F' 'M']

---
### **state**

In [28]:
df["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [29]:
# mapping gender values
state_mapping = {
    "WA": "Washington",
    "AZ": "Arizona",    
    "Cali": "California"
}
# replace values in state
df['state'] = df['state'].replace(state_mapping)

# Check unique values after mapping
print(df['state'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

---
### **education_level**

In [30]:
df["education_level"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [31]:
# mapping gender values
education_mapping = {
    "Bachelors": "Bachelor"
}
# replace values in education_level
df['education_level'] = df['education_level'].replace(education_mapping)

# Check unique values after mapping
print(df['education_level'].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

---
### **lifetime_value**

In [32]:
df["lifetime_value"].unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], shape=(1028,), dtype=object)

In [33]:
# Remove '%' and convert to float
df['lifetime_value'] = df['lifetime_value'].str.replace('%', '', regex=False).astype(float)

# Check the first few values
df['lifetime_value'].head()

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: lifetime_value, dtype: float64

---
### **vehicle_class**

In [34]:
df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [37]:
# mapping gender values
vehicle_mapping = {
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
}
# replace values in education_level
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_mapping)

# Check unique values after mapping
print(df['vehicle_class'].unique())

['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

---
## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. 
    - Look at the different values it takes with `unique()` and take the middle value. 
    - As an example, 1/5/00 should be 5. Number of open complaints is a string 
    - remember you can use `split()` to deal with it and take the number you need. 
    - Finally, since it should be numeric, cast the column to be in its proper type.*

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         1071 non-null   object
 1   state               1071 non-null   object
 2   gender              954 non-null    object
 3   education_level     1071 non-null   object
 4   lifetime_value      1068 non-null   float64
 5   annual_income       1071 non-null   float64
 6   monthly_premium     1071 non-null   float64
 7   open_complaints     1071 non-null   object
 8   policy_type         1071 non-null   object
 9   vehicle_class       1071 non-null   object
 10  total_claim_amount  1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [ ]:
df['lifetime_value'] = df['lifetime_value'].astype('float')

In [ ]:
# change data types
df['customer_id'] = df['customer_id'].astype('string')
df['state'] = df['state'].astype('string')
df['gender'] = df['gender'].astype('category')
df['education_level'] = df['education_level'].astype('category')
df['lifetime_value'] = df['lifetime_value'].astype('float')
df['annual_income'] = df['annual_income'].astype('float')
df['monthly_premium'] = df['monthly_premium'].astype('float')
df['open_complaints'] = df['open_complaints'].astype('int')
df['policy_type'] = df['policy_type'].astype('category')
df['vehicle_class'] = df['vehicle_class'].astype('category')
df['total_claim_amount'] = df['total_claim_amount'].astype('float')

ValueError: could not convert string to float: '697953.59%'

---
## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here